<footer class="mb-2 mt-auto">
    <div class="container">
        <hr>
        <p class="text-center"><small><i class="bi bi-c-circle"></i> <span id="year"></span> Edmond A. Porter </small></p>
    </div>
</footer>