<% layout('/layouts/boilerplate') %>
    <div class="row">
        <div class="col">
            <h1>Publications</h1>
            <div>
                <%-publication.content%>
            </div>
        </div>
        <% if(currentUser && profile.equals(currentUser._id)) { %>
            <div class="col">
                <div class="text-end">
                    <div class="mb-3">
                        <a class="btn btn-info" href="/publications/<%=publication._id%>/edit">Edit Publication List</a>
                    </div>
                </div>
            </div>
            <% } %>
    </div>