<% layout('/layouts/boilerplate') %>
    <div class="row">
        <h2 class="h1">Archive</h2>
        <a href="/blog" class="back-btn">Back</a>
        <div class="col-lg-3 order-md-2">
            <%-include('../partials/blog-list.ejs')%>
        </div>
    </div>
    <script src="/js/post-list-handler.js"></script>